[Desktop Entry]
Encoding=UTF-8
Name=Gogland
Exec=/bin/gogland.sh
Icon=/bin/gogland.png
Type=Application
Categories=Development;
StartupWMClass=Gogland
